<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button class="btn btn-link nav-link" (click)="mostrarComponent('inici')">Inici</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-link nav-link" (click)="mostrarComponent('articles')">Articles</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-link nav-link" (click)="mostrarComponent('nou-template')">Nou article template</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-link nav-link" (click)="mostrarComponent('nou-reactiu')">Nou article reactiu</button>
      </li>
    </ul>
  </nav>
  